<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />
    </configSections>
    <configBuilders>
        <builders>
            <add name="ConnStrings" mode="Greedy" userSecretsFile="~/../../../../KenticoContrib/ConnectionStrings.config" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=1.0.0.0, Culture=neutral" />
        </builders>
    </configBuilders>
    <connectionStrings configBuilders="ConnStrings">
        <clear/>
    </connectionStrings>
</configuration>
